<div class="columns is-multiline">  
  <div class="column is-12">
    <h2 class="title"> Log in into Cooking Diary </h2>
  </div>
  <div class="column is-6 is-offset-3">
    <%= render 'form' %>
  </div>
</div> 