<div class="columns is-multiline">  
  <div class="column is-6 is-offset-3">
    <div class="content">
      <h2 class="title"> Log in into Cooking Diary </h2>
    </div>
    <%= render 'form' %>
  </div>
</div>
