<div class="field">
  <li>
    <div class="control">
      <div class="columns is-mobile">
        <div class="column is-2">
          <%= instructions_field.number_field :order, class: 'input', placeholder: 'Step' %>
        </div>
        <div class="column">
          <%= instructions_field.text_field :instruction_info, class: 'input', placeholder: 'Instruction...' %>
        </div>
        <div class="column is-1">
          <div class="icon_times">  
            <% if local_assigns[:edit] %>
              <%= instructions_field.check_box :_destroy %>
            <% else %>
              <i class="fa fa-times fa-2x"></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </li>
</div>
