<div class="columns is-multilines">
  <div class="column is-6 is-offset-3">
    <label class="label">Ingridients</label>
    <%= form_with model: [@recipe, @ingridient], local: true do |ingridients_field| %>
      <ul class="ingridients_list">
        <%= render 'form', ingridients_field: ingridients_field %>
      </ul>
      <br>
      <%= ingridients_field.submit 'Create Ingridient', class: 'button is-dark' %>
      <%= link_to 'Cancel', recipe_path(@recipe), class: 'button is-light' %>
    <% end %>
  </div>
</div>