<div class="field">
  <li>
    <div class="control">
      <div class="columns is-mobile">
        <div class="col=umn">
          <%= ingridients_field.text_field :name, class: 'input', placeholder: 'Ingridient' %>
        </div>
        <div class="column is-1">
          <div class="icon-times">
            <i class="fa fa-times fa-2x"></i>
          </div>
          <!-- Should add here if local_assigns[:edit] then link_to: :_destroy -->
        </div>
      </div>
    </div>
  </li>
</div>