$red-color: #de2846;

body {
  background-color: rgb(247, 245, 245);
  font-family: 'Sriracha', cursive;
  min-height: 100%;
}

.title, strong, a{
  color: $red-color;
}

a.navbar-item:hover {
  color: $red-color;
  background-color: transparent;
}

.is-danger {
  background-color: $red-color;
}

.hero-head {
  background-color: white;
  margin-top: 5%;
  padding: 1%;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
}

.navbar {
  margin-left: 5%;
  margin-right: 5%;
}

.navbar-item img {
  max-height: 5rem;
  border-radius: 45%;
}

.logo {
  position: relative;
  width: 150px;
  height: 70px;
}

.footer {
  background-color: rgb(63, 63, 63);
  color: white;
}