.card, form, input, textarea {
  font-family: 'Indie Flower', cursive;
}
.card {
  font-size: 1.2rem;
  background-color: #f2f7c4;
  box-shadow: 6px 7px 15px -7px rgba(0,0,0,0.75);
} 

.icon_times {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-times {
  color: #de2846;
  &:hover {
    cursor: pointer;
    color: #63121f;
  }
}

#addInstruction, #addIngridient {
  display: flex;
  justify-content: center;
  box-shadow: 0px 4px 7px -4px rgba(0,0,0,0.75);
  &:hover {
    cursor: pointer;
  }
}

.recipe__fields {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.visit__user {
  margin-left: auto;
}