.card {
  font-size: 1.2rem;
  font-family: 'Indie Flower', cursive;
  background-color: #f2f7c4;
  box-shadow: 6px 7px 15px -7px rgba(0,0,0,0.75);
} 

.icon_times {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-times {
  color: #de2846;
  &:hover {
    cursor: pointer;
    color: #63121f;
  }
}